.focus-within\:ring-2 ring-blue-500{
    &:focus-within{
        @apply border-2 border-blue-s;
    }
}

.form-input{
    @apply  text-blue-800 py-2 px-3 rounded bg-gray-200 antialiased text-lg font-light focus:outline-none focus:ring focus:ring-blue-400 transition-all duration-300;

    &:focus{
        @apply bg-opacity-75 text-opacity-75 transition-all duration-300;

        &::placeholder{
            @apply text-opacity-75;
        }
    }

    &::placeholder{
        @apply text-gray-600 transition-all duration-300 font-light;
    }
}

.custom_select{
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgOSA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNC4yNzcwMSA0Ljc1MjIzTDAuNDUwNjIxIDAuNTAwNjg5QzAuMjc2ODY5IDAuMzA3NjMzIDAuNDEzODc4IDAgMC42NzM2MDkgMEg4LjMyNjM5QzguNTg2MTIgMCA4LjcyMzEzIDAuMzA3NjMzIDguNTQ5MzggMC41MDA2OUw0LjcyMjk5IDQuNzUyMjRDNC42MDM4MiA0Ljg4NDY1IDQuMzk2MTggNC44ODQ2NSA0LjI3NzAxIDQuNzUyMjNaIiBmaWxsPSIjNEI4Q0Q5Ii8+Cjwvc3ZnPgo=");
    background-repeat: no-repeat;
    background-position: right .7em top 50%;
    background-size: .65em auto;
}

.form_button{
  @apply bg-transparent px-5 py-2 text-blue-600 focus:ring focus:ring-blue-400 transition-colors duration-300 rounded-md text-lg font-secondary  flex flex-wrap justify-center items-center self-stretch mt-auto;

  &:hover{
    background: rgba(47, 140, 246, 0.151);
  }
}

.form_button2{
  @apply px-5 py-2 text-blue-500 focus:ring focus:ring-blue-400 rounded-md text-lg font-secondary  flex flex-wrap justify-center items-center self-stretch mt-auto;
  background: rgba(47, 140, 246, 0.3);
  transition: background 0.4s;

  &:hover{
    background: rgba(47, 140, 246, 0.151);
  }
}

.slider_progress{
    background: linear-gradient(90deg, rgb(36, 87, 255) 0%, rgb(66, 186, 255) 100%);
}

#est_budget{
    -webkit-appearance: none;
    @apply cursor-pointer h-2 mt-2 rounded-md bg-gray-400 bg-opacity-50;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover{
        @apply bg-gray-400 bg-opacity-75;
    }

    &::-webkit-slider-thumb {
        width: 24px;
        height: 24px;
        border: none;
        @apply bg-blue-s;
        cursor: pointer;
        z-index: 20;
        border-radius: 50%;
    }

    &::-moz-range-thumb {
        width: 24px;
        height: 24px;
        border: none;
        @apply bg-blue-s;
        cursor: pointer;
        z-index: 20;
        border-radius: 50%;
    }

    &::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
    }

    &:hover::-webkit-slider-thumb, &:hover::-moz-range-thumb, &:focus::-webkit-slider-thumb, &:focus::-moz-range-thumb{
        @apply ring ring-blue-300;
    }
    
}

.maxw-50{
    max-width: 100%;

    @media (min-width: 640px) { 
        max-width: 75%;
    }

    @media (min-width: 1024px) { 
        max-width: 80%;
    }

    @media (min-width: 1200px) { 
        max-width: 60%;
    }
}