.form-drop-down{
    @apply w-full shadow-lg absolute select-none bg-gray-100 border border-gray-200 rounded z-50 px-2 mt-2 grid grid-cols-1 items-stretch justify-center;
    top: 100%;
    width: 100%;
    border-radius: 5px;
    max-height: 12rem;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    & > span {
        @apply outline-none;
        width: 100%;
        padding: 0.5rem 0.75rem;
        display: block;
        text-align: left;
        border-radius: 5px;
        color: #4a5568;
        font-weight: 400;
        user-select: none;

        &:hover{
            @apply bg-white;
        }

        &:focus{
            @apply outline-none underline;
        }

        &:nth-child(1){
            margin-top: 0.3rem;
        }

        &:nth-last-child(1){
            margin-bottom: 0.3rem;
        }
    }
}

.form-select{
    @apply  text-gray-500 py-2 px-3 text-left relative rounded bg-gray-200 antialiased text-lg focus:outline-none focus:ring focus:ring-blue-400 transition-all duration-300;

    &:focus{
        @apply bg-opacity-75 text-opacity-75 transition-all duration-300;

        &::placeholder{
            @apply text-opacity-75;
        }

        &::after{
            border-top: 8px solid #42baff;
        }
    }

    &::placeholder{
        @apply text-gray-600 transition-all duration-300;
    }

    &::after{
        content: '';
        position: absolute;
        display: inline-block;
        height: 0;
        width: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid #4299e1;
        margin: 0 15px 0 0;
    }
}