/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

/* Image lazy loading filter */
img[lazy='loading'] {
    filter: blur(15px);
}

/* Vue Transition - Slide Up */
.slide-leave-active,
.slide-enter-active {
  transition: 0.3s ease-in-out;
}
.slide-enter {
  transform: translate(0, 25%);
  opacity: 0;
}
.slide-leave-to {
  transform: translate(0, 25%);
  opacity: 0;
}

/* Font-Face */
