/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

/* Image lazy loading filter */
img[lazy='loading'] {
    filter: blur(15px);
}

/* Vue Transition - slide (up) */
.slide-leave-active,
.slide-enter-active {
  transition: 0.3s ease-in-out;
}
.slide-enter {
  transform: translate(0, 25%);
  opacity: 0;
}
.slide-leave-to {
  transform: translate(0, 25%);
  opacity: 0;
}

/* Vue Transition - fade-in */
.fade-in-leave-active,
.fade-in-enter-active {
  transition: 0.3s ease-in-out;
}
.fade-in-enter {
  opacity: 0;
}
.fade-in-leave-to {
  opacity: 0;
}

/* Zoom In Start */
.zoom-in-enter-active {
    animation: zoom-in .3s ease-in-out;
}
.zoom-in-leave-active {
    animation: zoom-in .3s reverse ease-in-out;
}

@keyframes zoom-in {
    0% {
        transform: scale(0) translateX(80%);
    }
    100% {
        transform: scale(1) translateX(0%);
    }
}
/* Zoom In End */